@import 'vars'
.answer
  font: italic bold 15px 'Roboto-Light' , sans-serif
  color: #4a771e
.title-cards-goods
    h1
        font-family: Roboto-Medium
        font-size: 30px
        margin: 0
        display: inline-block
        width: 550px
        vertical-align: middle
    .come-back
        display: inline-block
        width: 490px
        vertical-align: middle
        background: url(../img/come-back.png) no-repeat
        background-position: 70px 10px
        .publish
          background: #a29090
    .info-user-card-goods
        display: inline-block
        vertical-align: middle
        width: 240px
        margin: 22px 0 0 0
        img
            float: left
            margin: 0 15px 0 0
            padding: 0 0 35px 0
            border-radius: 50px
        h3
              font:  italic 16px 'Roboto-Light' , sans-serif
              text-decoration: underline
              margin: 17px  0 0 0
              color: #716f6f

        i
          font-size: 13px
          font-family: 'Roboto-Italic'
        a
          display: block
          text-decoration: underline
          color: #a6154f
          font-size: 13px
          font-family: 'Roboto-Medium'
          font-style: italic
          margin: 10px 0 0 0
          &:hover
            text-decoration: none
.cards-goods-content
  margin: 10px 0 0 0
  .title-goods
    width: 760px
    height: 730px
    display: inline-block
    vertical-align: top
    border: solid 1px #d6d5d0
    border-radius: 10px
    background: #fff
    padding: 45px 45px 0 45px
    box-sizing: border-box
    margin: 0 37px 0 38px
    position: relative
    span
      cursor: pointer
    .arrow-btn-left
      position: absolute
      top: 200px
      left: 17px
    .arrow-btn-right
      position: absolute
      top: 200px
      right: 17px
    h3
      font-style: italic
      font-family: "Roboto-Medium"
      font-size: 18px
    p
      font: 14px 'Roboto-Light', sans-serif
      line-height: 22px
  .block-add-card
    @include addNews
    height: 730px
    width: 420px
    p
      margin: 0
      line-height: 30px
      font-size: 14px
      font-style: italic
      font-family:  'Roboto-Italic'
      color: #483b2d
    .information-block-card
      margin: 0 0 20px 0
    .user_rating
      @include user_rating
      left: 155px
    .price-good
      display: block
      font: italic 45px 'Roboto-Medium' , sans-serif
      color: #483b2d
      span
        font-size: 29px
    strong
      border-top: solid 1px #c9c9c9
      display: block
      padding: 20px 0 10px 0
      a
        float: right
        color: #8e7860
        font-size: 12px
        font-family: 'Roboto-Medium'
        font-style: italic
        text-decoration: underline
        &:hover
          color: #a6154f
    .delivery
      margin: 0 0 0 33px
      select
        width: 148px
    .number
      position: relative
      left: 100px
      bottom: 10px
      .number-item
        position: relative
        left: -80px
        top: 35px
        font-size: 14px
        font-style: italic
        font-family:  'Roboto-Italic'
        color: #483b2d
      input
        border: solid 1px #adadad
        font-size: 18px
        color: #000
        padding: 12px 0 12px 5px
    select
      padding: 12px 0 12px 5px
      font-weight: bold
      font-size: 12px
      width: 25%
    .button
      border: none
      color: #fff
      background: #4a771e
      border-radius: 10px
      font-size: 17px
      margin: 24px 0 0 0
      padding: 10px 19px
      display: table
      cursor: pointer
.comment-header-description
  background: url(../img/comment-header-description.png) no-repeat
  margin: 0 0 0 38px
  background-position: 100% 50%
  font: 30px "Roboto-Medium"
  color: #26135a
  padding: 50px 0
.comment-section
  margin: 0 0 0 40px
  .comment-simplebox
    img
      vertical-align: top
      margin: 0 25px 0 0
    textarea
      display: inline-block
      width: 622px
      height: 130px
      resize: none
      border: solid 1px #b9b9b9
      border-radius: 10px
      padding: 19px
      box-sizing: border-box
      font: italic 13px "Roboto-Italic"
    .block-button
      margin: 19px 0 0 85px
      .attach-photo
        font: italic 13px 'Roboto-Light'
        cursor: pointer
        border-bottom: dashed 1px #a6154f
        color: #a6154f
        margin: 0 0 0 15px
  .comment-cards-goods
    position: relative
    ul
      padding:  30px 0 100px 0
      margin: 0
      li
        list-style: none
        padding: 30px 0
        width: 890px
        &:nth-child(2n+1)
          border-top: solid 1px #bdbdbd
          margin: 30px 0 0 0
        &:nth-child(even)
          background: rgba(0,0,0,.1)
          margin: 0 0 0 60px
          border-radius: 10px
          padding: 15px 15px 25px 19px
          width: 630px
        img
          display: inline-block
          margin: 0 10px 0 0
          vertical-align: top
        .content-comment-cards-goods
          display: inline-block
          vertical-align: bottom
          margin: 15px 0 0 0
          width: 77%
          .user_name
            float: left
            text-decoration: underline
            color: #a6154f
            font: bold 15px 'Roboto-Medium' , sans-serif
            margin: 0 25px 0 0
          .date_write
            padding: 3px 0 0 0
          p
            font: italic 15px 'Roboto-Light' , sans-serif
            color: #2a2a2a
          img
            display: block
            padding: 20px 0  0 0
    
