@import 'vars'
.comments_and_responses
	@include UserContainer
	ul
		border-top: solid 1px #bdbdbd
		margin: 30px 0 60px 0
		padding: 0
		li
			list-style-type: none
			margin: 40px 0
			img
				display: inline-block
				vertical-align: middle
				margin: 0 29px 0 0
			.content_comments_sender
				display: inline-block
				vertical-align: middle
				width: 85%
				a
					text-decoration: underline
					color: #a6154f
					font: bold 15px 'Roboto-Medium' , sans-serif
				p
					font: italic 15px 'Roboto-Light' , sans-serif
					color: #2a2a2a
			button
				width: 100%
				border: none
				padding: 12px 0
				background: #e1e7e5
				text-align: center
				text-decoration: underline
				color: #828383
				cursor: pointer
				font: 14px 'Roboto-Regular' , sans-serif
				margin: 35px 0 0 0
			ul
				padding: 0 0 0 100px
				border-top: none
				border-bottom: solid 1px #cdcbc7
				li
					transition: all .25s
					.content_comments_sender
						a
							color: #5c5c5c
						p
							color: #5e5e5e
