@import 'vars'
@mixin advertising_banners_content
	display: inline-block
	box-sizing: border-box
	padding: 18px
	width: 427px
	background: url(../img/conten_bg.png) no-repeat
	h4
		font: 20px "Roboto-Medium" , sans-serif
		margin: 0 0 16px  0
		color: #fff
	p	
		margin: 0
		color: #fff
		font-size: 14px
	&:nth-child(2)
		float: right	
		background: url(../img/conten_bg_2.png) no-repeat

@mixin block_news
	height: 330px 
	background: #fff
	box-sizing: border-box
	padding: 15px 35px 15px 50px
	margin: 27px 0
	border: solid 1px #d0ceca
	.date_write
		display: block	
		padding: 15px 0 0 0
		font-size: 10px
		color: #8d8d8d
	h2
		font: 24px 'Roboto-Light' , sans-serif
		margin: 20px 0 
	ul
		list-style-type: none
		padding: 0
		margin: 0
		li
			font: 15px 'Roboto-Light', sans-serif
			padding: 0 0 20px 0
			p
				margin: 0 0 15px 0
			&:last-child
				padding: 0
	.latest_news
		float: left
		width: 360px
		border-right: solid 1px #e5e5e5
		height: 300px
		padding: 0 20px 0 0
		.content_news
			font-size: 13px
		
		.all_news
			background: none
			border: none
			float: right
			font-size: 13px
			color: #49c7bb 
			cursor: pointer
	.top_organizers
		float: right
		width: 350px
		ul
			li
				p
					margin: 0
				.scores
					font-size: 11.6px
					color: #df3a55			
.about_us
	background: #dad8d4
	background: -moz-linear-gradient(top, #dad8d4 0%, #f4f2ed 21%, #f4f2ed 100%)
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #dad8d4), color-stop(21%, #f4f2ed), color-stop(100%, #f4f2ed))
	background: -webkit-linear-gradient(top, #dad8d4 0%, #f4f2ed 21%, #f4f2ed 100%)
	background: -o-linear-gradient(top, #dad8d4 0%, #f4f2ed 21%, #f4f2ed 100%)
	background: -ms-linear-gradient(top, #dad8d4 0%, #f4f2ed 21%, #f4f2ed 100%)
	background: linear-gradient(to bottom, #dad8d4 0%, #f4f2ed 21%, #f4f2ed 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dad8d4', endColorstr='#f4f2ed', GradientType=0 )
	.about-us-description
		text-align: center
		height: 100px
		line-height: 4
		margin: 0
		li
			display: inline-block
			font-size: 18px	
			font-weight: bold
			padding: 0 17px
			a
				color: #000
				font-weight: bold
				font-size:  25.7px 
			span
				font-weight: bold	
				font-size: 24px
				color: #a6154f
	.content_main_page
		width: 861px
		display: inline-block
		margin: 0 4px 0 0
		.home-welcome
			background: #fff
			height: 161px 
			position: relative
			border: solid 1px #d6d5d0
			img
				top: -31px	
				position: absolute
				left: 20px
			.description-home-welcome
				width: 612px
				float: right
				h2
					font: 25px 'Roboto-Light' , sans-serif
					padding: 17px 0
					margin: 0
				p
					margin: 0 0 12px 0
					color: #525252
					font-size: 14px
				.send_message_my_friends
					@include SendMessageViewMyFrinds		
					display: block
					width: 100%
					text-align: left
					li
						margin: 0 14px 0 0
						&:nth-child(1)
							a
								background: #a6154f
								border-radius: 10px
								font-size: 11.6px
								padding: 6px 13px
						&:nth-child(2)
							a
								text-decoration: none
								color: #918771	
								font-size: 11px
		.category
			margin: 27px 0 0 0
			.content_category
				width: 210px
				height: 210px
				background: #fff
				border-radius: 20px
				display: inline-block
				margin:  0 2px 6px 0
				text-align: center
				position: relative
				box-sizing: border-box
				padding: 33px 0
				.category_added
					position: absolute
					top: 15px 
					right: 15px
					font-weight: bold 
					font-size: 14px 
					color: #a6154f
				img

				h6
					margin: 14px 0 0 0
					text-transform: uppercase
					font: bold 12px 'Roboto-Bold'
		.advertising_banners
			margin: 27px 0 0 0
			.advertising_banners_content
				@include advertising_banners_content
		.block_news
			@include block_news
	.hot_news
		display: inline-block
		width: 420px
		vertical-align: top
		.video
			width: 100%
			height: 160px
		ul	
			padding: 0
			margin: 27px 0 0 19px
			li
				list-style-type: none
				width: 380px
				color: #fff
				border-radius: 45px
				margin: 0 0 10px 0
				border: solid 1px #dedcd8
				img
					float: left
					position: relative
					top: -1px
					border-radius: 50px 0 0 50px
					left: -2px
					margin: 0 10px 0 0
				h5	
					font: 20px 'Roboto-Light' , sans-serif
					margin: 0
					padding: 15px 0 5px 0
				p
					margin: 0
					font-size: 14px
					height: 40px
					white-space: pre-wrap
					overflow: hidden
					width: 250px
				&:nth-child(1)
					background: #a6154f
					height: 87px
				&:nth-child(2)
					background: #9ab6bb
					height: 87px
				&:nth-child(3)
					background: #ff6695
					height: 200px
					margin: 26px 0 0 0
					img
						margin: 30px 0 0 30px
						border-radius: 0
					.content_attention_new
						width: 275px
						float: right
						p
							margin: 15px 0 20px 0
							height: auto
							white-space: normal		
		.advertising_banners_content
			@include advertising_banners_content
			width: 420px
			margin: 42px 0 0 0
			background: url(../img/conten_bg_3.png) no-repeat
		.best_organizer
			@include block_news	
			padding: 7px 21px 15px 30px
			.date_write
				text-align: right
			h2
				margin: 0
			.best_user_organize
				margin: 38px 0 0 0
				img
					display: inline-block
					border-radius: 35px
					border: solid 1px #f1f1f1
					vertical-align: middle
					margin: 0 20px  35px 0
				.advertisement_best_user
					display: inline-block
					vertical-align: middle
					width: 270px	
					p
						font-size: 13px
						margin:  0 0 29px 0
						line-height: 19px
					// span
					// 	cursor: pointer
					// 	background: #df3a55
					// 	padding: 6px 9px
					// 	color: #fff
					// 	border-radius: 5px
					// 	font-size: 11.6px

