@import 'vars'
.how-to-order
	padding: 0 0 80px 0
	h1
		font: bold 30px "Roboto-Medium",sans-serif
		padding: 28px 0
		margin: 0
	h3
		font: bold 18px "Roboto-Regular" ,sans-serif	
		margin: 47px 0 20px 0	
	.description-overall-process
		background: #fff
		border: solid 1px #d6d5d0
		padding: 0 50px
		box-sizing: border-box
		display: inline-block
		width: 830px
		height: 1234px
		position: relative
		p
			font-family: "Roboto-Light"
			font-size: 15px
			line-height: 19px
			b
				padding: 0 0 0 25px
				display: block
		img 
			padding: 0 0 0 25px		
		ul
			padding: 0
			margin: 40px 0 20px 0
			li
				list-style-type: none
				margin: 20px 0
				.number-list-order
					border: solid 3px #00b472
					padding: 10px 22px
					border-radius: 30px	
					display: inline-block
					width: 10px
					vertical-align: top
					margin: 0 15px 0 0
					color: #00b472
					font: 30px "Roboto-Medium"
				.description-list-order
					display: inline-block	
					width: 88%
					vertical-align: bottom
					margin: 27px 0 0 0 
					font: 15px "Roboto-Medium"
					line-height: 20px
		.hot-to-buy
			position: absolute
			bottom: 40px
			right: 70px
			a
				font:  15px "Roboto-Regular" , sans-serif
				text-decoration: underline
				color: #00a1b9
				margin: 0 0 0 50px
				&:hover
					color: #df3a55
	.answers-to-questions-from-our-customers
		width: 447px
		display: inline-block
		vertical-align: top
		background: #fff
		border: solid 1px  #d6d5d0
		margin: 0 0 0 5px
		box-sizing: border-box
		h3
			padding: 0 0 0 25px
		ul
			padding: 0	 0 0 25px
			margin: 0
			height: 800px
			overflow-y: scroll
			li
				margin: 40px 0
				list-style: none
				img
					float: left
					margin: 0 10px 0 0
				.answers-to-questions
					overflow: overlay
					h6
						font: 15px "Roboto-Regular" , sans-serif
						color: #00709e
						margin: 12px 0 
					p
						font-style: italic
						font-family: "Roboto-Medium"
						font-size: 15px 
						margin: 0
						line-height: 20px 
						padding: 0
					span
						font-size: 10px
				&:nth-child(2n+1)
					.answers-to-questions
						p
							color: #a6154f	
				&:nth-child(2n)
					.answers-to-questions
						p
							color: #000				
	.ask-your-question
		box-sizing: border-box
		padding: 0 25px
		height: 343px		
		background: #f1f1f1	
		border-top: solid 1px #e0e0e0
		h3
			padding: 0
		textarea
			width: 100%
			height: 170px
			border-radius: 20px
			padding: 10px
			resize: none
			box-sizing: border-box
			margin: 0 0 20px 0