@import 'vars'
@import 'message'
@import 'my_friends'
@import 'selected'
@import 'my_orders'
@import 'registration'
@import 'comments_and_responses'
@import 'news'
@import 'home_page'
@import 'how_order'
@import 'cards-goods'
@import 'personal-office-1'
.top_line
	background: #a6154f
	.number_people_with_us_top_line
		color: #fff
		height: 40px
		width: 49%
		display: inline-block
		ul
			padding: 0
			margin: 0
			li
				list-style-type: none
				display: inline-block
				line-height: 37px
				margin: 0 50px 0 0
				font-size: 11.6px
				&:last-child
					margin: 0
				a
					display: block
					color: #fff
					font-size: 11.6px
					&:hover
						text-decoration: underline
					span
						background: #fff
						padding: 0px 5px
						margin: 0 3px  0 0
						border-radius: 15px
						color: #edb0c2
	.user_office
		// float: right
		width: 50.5%
		text-align: right
		display: inline-block
		a
			color: #fff
			font-size: 11.6px
			display: block
			&:hover
				text-decoration: underline
		.your_question_top_line
			display: inline-block
		.ask-question
			display: none
			position: absolute
			z-index: 1
			background: #a6154f
			width: 100%
			padding: 100px 0
			left: 0
			top: 0
			.close-ask-question
				right: 1%
				top: 4%
				position: absolute
				cursor: pointer
				img
					background: rgba(255,255,255,.5)
					padding: 20px
					border-radius: 40px
			.form-ask-question
				text-align: center
				border-radius: 25px
				margin: 0 auto
				background: #fff
				width: 390px
				padding: 50px 75px 25px 75px
				box-sizing: border-box
				h3
					padding: 0
					margin: 0 0 29px 0
				input , textarea
					border: solid 1px #ececec
					padding: 10px 15px
					border-radius: 5px
					margin: 0 0 15px 0
					font: 15px 'Roboto-Light' , sans-serif
					color: #878787
					width: 100%
					box-sizing: border-box
					resize: none
				textarea
					height: 150px
		.personal_office
			width: 51%
			display: inline-block
			padding: 0
			margin: 0
			li
				display: inline-block
				span
					font-size: 11.6px
					color: #fff
					// padding: 0 6px
.menu_header_top
	height: 75px
	.logo, .menu_header_line, .shopping_cart, .search_header
		display: inline-block
		vertical-align: middle
		padding: 21px 0
	.logo
		width: 206px
		h2
			padding: 0
			margin: 0
			font-size: 25px
			font-family: Roboto, sans-serif
	.menu_header_line
		width: 	48%
		ul
			padding: 0
			margin: 0
			li
				display: inline-block
				margin: 0 29px 0 0
				&:last-child
					margin: 0
				a
					display: block
					color: #000
					font-size: 13px
					&:hover
						color: #a6154f
					i
						margin: 0 0 0 2px
	.shopping_cart
		width: 150px
		border: solid 1px #e6dbe8
		border-radius: 10px
		box-sizing: border-box
		margin: 0
		padding: 0
		img
			display: inline-block
			// margin: 0 10px 0 0
			padding: 10px 4px 13px 13px
		ul
			display: inline-block
			vertical-align: top
			padding: 0
			li
				display: inline-block
				span
					font-size: 11.6px
				a
					display: block
					font-size: 11.6px
					color: #000

	.search_header
		width: 297px
		text-align: right
		input[type="search"]
			border: solid 1px #c9c9c9
			border-radius: 3px
			display: inline-block
			box-sizing: border-box
			width: 220px
			height: 32px
			padding: 0 15px
			font-size: 11.6px
			outline: none
		input[type="button"]
			display: inline-block
			background: url(../img/search.png) no-repeat
			border: none
			width: 17px
			line-height: 15px
			position: relative
			top: 3px
			margin: 0 0 0 7px
			outline: none
			cursor: pointer
.menu_content
	// background: #dad8d4
	// background: -moz-linear-gradient(top, #dad8d4 0%, #f4f2ed 21%, #f4f2ed 100%)
	// background: -webkit-gradient(left top, left bottom, color-stop(0%, #dad8d4), color-stop(21%, #f4f2ed), color-stop(100%, #f4f2ed))
	// background: -webkit-linear-gradient(top, #dad8d4 0%, #f4f2ed 21%, #f4f2ed 100%)
	// background: -o-linear-gradient(top, #dad8d4 0%, #f4f2ed 21%, #f4f2ed 100%)
	// background: -ms-linear-gradient(top, #dad8d4 0%, #f4f2ed 21%, #f4f2ed 100%)
	// background: linear-gradient(to bottom, #dad8d4 0%, #f4f2ed 21%, #f4f2ed 100%)
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dad8d4', endColorstr='#f4f2ed', GradientType=0 )
	background: url(../img/nav-bg.png) repeat-x
	.navigation_block
		ul
			padding: 0
			margin: 15px 0 0 0
			display: inline-block
			width: 49.6%
			vertical-align: top
			li
				display: inline-block
				margin: 0 13px 0 0
				a
					display: block
					color: 	#918771
					font-size: 11px
					font-style: italic
					&:hover
						color: #9ab6bb
						text-decoration: underline
		.money-user-account
		  strong
		    font-size: 16px
		    font-weight: bold
		    margin: 0 5px 0 0
		    color: #4a771e
		  span
		    text-decoration: underline
		    font-size: 13px
	.money-user-account
		display: inline-block
		margin: 23px 0 0 0
		width: 50%
		text-align: right
	.menu_profile
		margin: 27px 0 0 0
		border: solid 1px #d0ceca
		height: 55px
		box-sizing: border-box
		background: rgba(254,254,254,1)
		background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(247,247,247,1) 100%)
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(247,247,247,1)))
		background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(247,247,247,1) 100%)
		background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(247,247,247,1) 100%)
		background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(247,247,247,1) 100%)
		background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(247,247,247,1) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f7f7f7', GradientType=0 )
		ul
			padding: 0
			margin: 0
			width: 1050px
			font-size: 0
			display: inline-block
			vertical-align: middle
			li
				// padding: 0 23px
				// display: inline-block
				width: auto
				display: table-cell
				&:last-child
					// padding: 0 0 0 25px
				a
					// display: block
					vertical-align: middle
					display: table-cell
					width: 1000px
					text-align: center
					color: #4e4d4d
					font-size: 17px
					white-space: pre
					padding: 13px 0  15px 0
					&:hover
						color: #a6154f
						text-decoration: underline
					sup
						padding: 0 7px 3px 7px
						background: #a6154f
						border-radius: 10px
						color: #fff
				.comments_and_responses
					padding: 13px 12px 15px 12px
				.news
					padding: 13px 12px 15px 12px

.profile_options
			display: inline-block
			width: 230px
			text-align: right
			position: relative
			a
				color: #000
				font-size: 13px
				background: url(../img/profile_option.png) no-repeat
				background-position: 40px 8px
				border-left: solid 1px #cccccc
				padding: 10px 35px 10px 80px
				box-sizing: border-box
			.change_profile_options
				position: absolute
				top: 60px
				left: 30px
				span
					color: #4a771e
					font: italic 12px Roboto, sans-serif
					background: url(../img/change_profile_options.png) no-repeat
					background-position: 3px 5px
					padding: 25px 0 25px 16px
.block-management-accounts
	text-align: right
	padding: 42px 0 0 0
	span
		font-size: 13px
		text-decoration: underline
		padding: 14px
		i
			padding: 0 10px 0 0
	.my-account
		background:  #a6154f

.main_content
	background: #f4f2ed
	.user_profile
		margin: 65px 0 0 0
		display: inline-block
		vertical-align: top
		min-height: 420px
		.photo_user
			text-align: center
			display: inline-block
			vertical-align: top
			margin: 0 24px 0 0
			width: 240px
			// input
			// 	display: block
			// 	outline: none
			.avatar

				height: 320px
				background: #d6d6d6
				a
					@include button_all
					position: relative
					top: 15px
		.description_user
			display: inline-block
			vertical-align: top
			width: 495px
			.date_registration
				text-align: right
				display: block
				font: italic 12px Roboto , sans-serif
			h2
				margin: 0 0 25px 0
				// font-size: 32px
				font: bold 32px 'PTSansRegular' , sans-serif
			.online
				@include online
			.user_rating
				@include user_rating
			h4
				font-size: 17px
			p
				color: #5c5c5c
				font-size: 15px
				line-height: 20px
	.contacts_user
		width: 420px
		float: right
		margin: 105px 0 0 0
		background: #f4f4f4
		border: solid 1px #c6c6c6
		border-radius: 10px
		box-sizing: border-box
		padding: 30px
		strong
			font-size: 17px
		ul
			padding: 0 0 0 15px
			li
				list-style-type: none
				margin: 15px 0
				font-size: 17px
			img
				vertical-align: middle
				margin: 0 10px 0 0
			span
				vertical-align: middle
		button
			@include button_all
			float: right
			border: none
			cursor: pointer
.main_footer
	position: relative
	background: #bdd3d7
	height: 265px
	.col_1
		position: absolute
		width: 50%
		left: -286px
		background: #e5a4b8
		height: 265px
	.col_2
		background: #e5a4b8
		width: 359px
		height: 265px
		position: absolute
	// .col_2
        // position: absolute
	    // height: 265px
	    // width: 354px
	    // background: #e5a4b8
	.footer
		position: relative
		.social_menu_footer
			display: inline-block
			vertical-align: top
			width: 27.5%
			p
				margin: 0
				font-size: 13px
				color: #fff
				padding: 60px 0 0 0
			ul
				padding: 25px 0 50px 0
				margin: 0
				li
					display: inline-block
					list-style-type: none
					margin: 0 10px 0 0
					a
						display: block
						width: 32px
						height: 32px
						background: url(../img/soc_block.png) no-repeat
					.vk
						&:hover
							background-position: 0 -33px
					.mail
						background-position: -41px 0px
						&:hover
							background-position: -41px -33px
					.iam
						background-position: -83px 0
						&:hover
							background-position: -83px -33px
					.pen
						background-position: -124px 0
						&:hover
							background-position: -124px -33px
					.ok
						background-position: -166px 0
						&:hover
							background-position: -166px -33px

			span
				font-size: 10px
				color: #fff
				a
					color: #fff
		.footer_nav_site_container
			display: inline-block
			vertical-align: top
			width: 72%
			box-sizing: border-box
			padding: 60px 0 0 48px
			.important
				@include NavSiteColumn
			.people
				@include NavSiteColumn
			.popular
				@include NavSiteColumn

			.organizators_block
				@include NavSiteColumn
			.contact_footer
				float: right
				width: 215px
				h2
					font: bold 25px Roboto , sans-serif
					margin: 0
				a
					font-size: 18px
					display: block
					color: #667b7f
					margin: 13px 0 60px 20px
				span
					display: block
					font-size: 10px
					color: #000
