@import 'vars';
.message_user
	@include UserContainer
	.search_dialogs
		background: #e9e9e9
		border: solid 1px #bcbab6
		box-sizing: border-box
		padding: 25px
		margin: 40px 0 0 0
		.form_input_search
			display: inline-block
			width: 400px
			border: solid 1px #d1d1d1
			background: #fff
			padding: 0 15px
			input[type= 'search']
				padding: 15px 0
				border: none
				width: 375px
			input[type='button']
				border: none
				background: url(../img/search.png) no-repeat	
				width: 20px
				height: 20px
				position: relative
				top: 6px
				cursor: pointer
		.send_message_my_friends
			@include SendMessageViewMyFrinds
	.all_dialogues
		box-sizing: border-box
		margin: 35px 0  50px 0
		padding: 25px
		border: solid 1px #bcbab6
		background: #fff
		h3
			font: 16px 'PTSansBold' , sans-serif
			border-bottom: solid 1px #c4c4c4
			padding: 0 0 10px 0
			margin: 5px 0 18px 0
		.dialog 
			// border-bottom: solid 1px #e5e5e5
			// &:last-child
			// 	border-bottom: none
			padding: 0
			li
				border-bottom: solid 1px #e5e5e5
				margin: 15px 0
				padding: 25px 0
				display: block
				cursor: pointer
				position: relative
				// &:last-child
				// 	border: none
				.new_message
					position: absolute
					top: 0px
					right: 0px
					@include button_all
					float: right
					background: #a29090		
					text-decoration: none	
					padding: 4px 5px
					font-style: normal
				img
					display: inline-block
					width: 70px
					vertical-align: middle
					margin: 0 20px 0 0
				.dialog_user_info_who_sent_message
					display: inline-block
					width: 180px		
					vertical-align: middle
					h2
						font: bold 16px 'Roboto-Bold' , sans-serif
						color: #787878
					a.offline
						@include offline	
					.last_date_message	
						margin: 7px 0 0 0
						display: block
						font: 12px "Roboto-Medium" , sans-serif
						color: #bbb
				.dialog_content
					display: inline-block
					vertical-align: middle
					width: 650px
					span
						line-height: 25px
						font-size: 14px
						color: #3d3d3d			
						strong
							color: #000	
						