@import 'vars';
.my_friends
	@include UserContainer
	ul
		margin: 75px 0 0 0
		padding: 0
		font-size: 0
		li
			list-style-type: none
			margin: 0 0 15px 0
			.my_friend_photo
				display: inline-block
				vertical-align: top
				border: solid 1px #d2d0cc
				background: #bdd3d7
				width: 205px
				text-align: center
				margin: 0 40px 0 0
				img
					width: 100%
				a
					display: inline
				.online
					background-position: 0 1px
				.offline
					background-position: 0 	-31px	
				h3
					display: inline-block	
					color: #000
					padding: 15px 0
					margin: 0
					font: bold 16px 'Roboto-Bold', sans-serif
			.my_friend_options
				display: inline-block
				vertical-align: top		
				width: 260px
				p
					color: #939393
					font-size: 16px
					.new_incoming_messages
						font-size: 20px
						font-style: italic
						color: #fff
						padding: 2px 12px 3px 8px
						border-radius: 15px
						background: #d2d2d2	
					.number_of_messages	
						color: #000
				.send_message_my_friends
					@include SendMessageViewMyFrinds	
					padding: 0
					margin: 30px 0 0 0
					text-align: left
					width: 90%
					li
						margin: 10px 0
						&:nth-child(2) a
							font-style: italic
						a
							font-size: 16px		