@import 'vars';
.my_orders
	@include UserContainer
	.your_card
		margin: 40px 0 79px 0
		padding: 20px
		box-sizing: border-box
		background: #fff
		width: 768px
		border: solid 1px #d2d0cc
		border-radius: 15px
		strong
			font: bold 16px 'Roboto-Regular' , sans-serif
			color: #a6154f
			span
				font-size: 20px
		h4
			border-bottom: solid 1px #bebebe
			margin: 10px 0 0 0
			padding: 0 0 20px 0
			font: bold 16px Roboto-Bold  , sans-serif
		ul
			margin: 0
			padding: 0
			li
				list-style-type: none
				border-bottom: solid 1px #e5e5e5
				padding: 25px 0 41px 0
				.seller
					width: 310px
					display: inline-block
					img
						display: inline-block
						vertical-align: middle
						margin: 0 18px  0 0
					.title_seller
						vertical-align: middle
						display: inline-block
						h4
							border: none
							margin: 0
							padding: 0 0 5px 0
						.organizer
							font: italic 12px Roboto-Regular , sans-serif
							color: #757575
							a
								color: #00a2c5
								text-decoration: underline
				.product_options
					width: 265px
					display: inline-block
					vertical-align: middle
					.number-item
						font: 12px 'Roboto Condensed', sans-serif
						color: #757575
					input
						border: solid 1px #adadad
						font-size: 18px
						color: #000
						padding: 12px 0 12px 5px
					.size
						display: inline-block
						width: 100px
						margin: 0 0 0 20px
						input
							width: 72px
							text-transform: uppercase
							text-align: center
				.price_product
					display: inline-block
					vertical-align: middle

		.make_an_order
			background: #e9e9e9
			border: solid 1px #c4c4c4
			padding: 0 22px 28px 22px
			p
				font-size: 14px
				color: #797979
				margin:  0
				padding: 25px 0 7px 0
			.contacts
				width: 200px
				display: inline-block
				vertical-align: top
				margin: 0 32px 0 0
				input
					width: 100%
					padding: 10px
					box-sizing: border-box
					font-size: 14px
					border: solid 1px #d1d1d1
			.comment_to_order
				width: 230px
				display: inline-block
				vertical-align: top
				margin: 0 31px 0 0
				textarea
					resize: none
					width: 100%
					height: 130px
					padding: 10px
					box-sizing: border-box
					border: solid 1px #d1d1d1
					font-size: 14px
					color: #5c5c5c
			.delivery_method
				width: 140px
				display: inline-block
				vertical-align: top
				input
					float: left
				label
					font-size: 14px
					color: #484848
					display: block
					padding: 0 0 10px 13px
					span
						margin: 0 0 0 17px
			strong
				display: inline-block
				margin: 50px 38px 39px 0
			button
				display: inline-block
