@import 'vars'
.news
	@include UserContainer
	.online
		display: block
		margin: 10px 0 0 0
	h3
		font: bold 16px 'Roboto-Bold',sans-serif
		color: #000
		margin: 0
		padding: 0 0 20px 0
		border-bottom: solid 1px #bab9b7
	.my_news
		width: 579px
		margin: 50px 50px 0 20px
		display: inline-block
		vertical-align: top
		ul
			padding: 0
			margin: 0
			li
				display: inline-block
				border-top: solid 1px  #bab9b7
				&:first-child
					border-top: none
				img
					display: inline-block
					width: 70px
					border: solid 1px #d9d8d6
					border-radius: 40px
					vertical-align: top
					margin: 28px 20px 28px 0
				.content_news
					display: inline-block
					width: 325px
					margin: 40px 25px 40px 0
					a
						font: bold 16 'Roboto-Bold',sans-serif
						text-decoration: underline
						color: #a6154f
					p
						font-size: 14px
						margin: 0
						color: #3d3d3d
						padding: 16px 0
				.date_write
					vertical-align: top
					margin: 40px 0
					display: inline-block
	.add_news
		@include addNews
		margin: 19px 0 0 0
		height: 497px
		h3
			margin: 0
		img
			display: inline-block
			width: 70px
			vertical-align: middle
			margin: 18px 18px 0 0
		a
			@include button_all
			text-decoration: none
			font-style: normal
			display: inline-block
			vertical-align: middle
		p
			padding: 0
			margin: 25px 0 10px 0
			font-size: 14px
		input
			width: 100%
			box-sizing: border-box
			padding: 12px
			font-size: 14px
			border: solid 1px #c0cdcf
		textarea
			box-sizing: border-box
			padding: 12px
			resize: none
			width: 100%
			height: 100px
			border: solid 1px #c0cdcf
			font-size: 14px
			color: #a9a9a9
		button
			border: none
			color: #fff
			background: #4a771e
			border-radius: 10px
			font-size: 11px
			margin: 23px 0 0 0
			padding: 10px 19px
