@import 'vars';
.my_selected
	@include UserContainer
	ul
		padding: 0
		li
			display: inline-block
			margin: 0 50px 25px 0
			&:nth-child(3n+3)
				margin: 0 0 25px  0
			a
				width: 220px
				height: 330px
				border: solid 1px #d6d5d0
				display: block
				box-sizing: border-box
				padding: 10px
				background: #fff
				position: relative
				span
					font-size: 13px
					font-family: Roboto-Medium
					font-style: italic
					font-weight: bold
					margin: 0 0 0 10px
				.title_commodity
					color: #000
					display: block
					margin: 25px 0 25px 10px
				.date_commodity
					display: inline-block
					width: 40%
					color: #aeaeae
					font-size: 12px
				.price_commodity
					display: inline-block
					width: 40%	
					font-size: 18px
					color: #a6154f
					text-align: right
		.close_selected_roduct
			position: absolute
			top: 0px
			right: -28px
			color: #898989	
			font-size: 25px
			&:hover
				color: #a6154f		