body
	padding: 0
	margin: 0
.wrapper
	width: 1290px
	margin: 0 auto
*
	font-family: "PTSansRegular" , sans-serif
	outline: none
a
	text-decoration: none
.active
	text-decoration: underline

.make-an-order
	background: #4a771e
	padding: 14px 31px
	border-radius: 7px
	border: none
	color: #fff
	font-size: 18px
	cursor: pointer

.number
	width: 103px
	position: relative
	display: inline-block
	input
		width: 45px
		border-right: none
	button
		position: absolute
		right: 30px
		font-size: 18px
		background: #fff
		border: solid 1px #adadad
		width: 22px
		height: 25px
		padding: 0px 10px 0px 6px
		box-sizing: border-box
		cursor: pointer
	.minus_number_goods
		top: 44px
	.number_of_pieces
		font: 16px 'Roboto-Regular' ,sans-serif
		display: inline-block
		padding: 0 0 0 22px
		color: #000

.price_product
	display: inline-block
	vertical-align: middle

#scrollup
	position: absolute
	bottom: 30px
	right: 400px

@mixin user_rating
	font: italic 12px Roboto,sans-serif
	position: relative
	left: 115px
	vertical-align: middle
	a
		margin: 0 0 0 15px
		color: #a6154f
		font-size: 14px
		i
			font-size: 18px
			vertical-align: middle
@mixin online
	font: italic 12px Roboto, sans-serif
	background: url(../img/online_offline.png) no-repeat
	background-position: 0 3px
	padding: 0 0 0 15px
	color: #4a771e
@mixin offline
	@include online
	color: #7e7e7e
	background-position: 0 -30px
.offline
	@include offline
@mixin button_all
	font: italic 11px PTSansRegular, sans-serif
	padding: 10px 20px
	color: #fff
	background: #a6154f
	border-radius: 4px
	text-decoration: underline
@mixin NavSiteColumn
	display: inline-block
	vertical-align: top
	width: 150px
	h6
		font-weight: bold
		font-size: 13px
		color: #df3a55
		margin: 0 0 20px 0
	ul
		padding: 0
		margin: 0
		li
			list-style: none
			margin: 10px 0
			a
				display: block
				color: #4d5c5f
				font-size: 13px
				text-decoration: none
@mixin UserContainer
	width: 1020px
	display: inline-block
	vertical-align: top;
	h2
		font: bold 32px 'PTSansBold' , sans-serif
		margin: 0 0 5px 0
	.online
		@include online
@mixin SendMessageViewMyFrinds
	display: inline-block
	width: 54%
	text-align: right
	padding: 0
	margin: 0
	li
		display: inline-block
		margin: 0 12px
		&:nth-child(1)
			a
				background: #4a771e
				padding: 10px 15px
				border-radius: 3px
				color: #fff
		&:nth-child(2)
			a
				color: #545454
				text-decoration: underline
				&:hover
					text-decoration: none
		a
			display: block
			font-size: 13px
@mixin dateWtire
	font-size: 12px
	color: #9ab6bb
.date_write
	@include dateWtire
.publish
	cursor: pointer
	background: #a6154f
	padding: 6px 9px
	color: #fff
	border-radius: 5px
	font-size: 11.6px
@mixin addNews
	display: inline-block
	vertical-align: top
	width: 366px
	border: solid 1px #c6c6c6
	border-radius: 10px
	background: #d6e4e6
	box-sizing: border-box
	padding: 30px 28px 30px 28px
